#main-modal
	#modal-wrap
		#modal-close CLOSE
		#modal-picture-wrap
		#modal-info-wrap
			#modal-info-content
				p Hello I am info wrap! I am a demon and I think that I might act like one! Yayyy!
		.clear
	