extends layout

block highlight
	link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
	script hljs.initHighlightingOnLoad();
	
block masthead
	#basic-header-img.blog
	#basic-masthead-text 
		span(class="text") A Beggar's Blog

block content
	#blog-content-wrapper
		include mixins/utils
		each p in posts
			+post-temp(user, p)