extends layout

block masthead
	#basic-header-img.blog
	#basic-masthead-text 
		span(class="text") A Beggar's Blog

block content
	#blog-content-wrapper
		include mixins/utils
		each p in posts
			+post-temp(p)