extends layout

block captcha
	<script src='https://www.google.com/recaptcha/api.js'></script>

block masthead
	#basic-header-img.contact
	#basic-masthead-text 
		span(class="text") Contact

block content
	#phone-number-wrapper
		#content-social-media
			include mixins/utils
			+social-media-wrap
		.icon-wrapper
			img(src="/images/svgs/phone_icon.svg").phone-icon
		.info (906) 231 - 0761
	.form-wrapper
		form(action="/contact" method="post")#contact-form
			.name-div
				label(for="first-name")
					|	First Name <br>
				input(type="text" name="first-name")#firstName
				#first-name-error.alert
			.name-div
				label(for="last-name")
					|	Last Name <br>
				input(type="text" name="last-name")#lastName
				#last-name-error.alert
			.input-div
				label(for="email")
					|	E-Mail <br>
				input(type="text" name="email")#email
				#email-error.alert
			.input-div
				label(for="subject")
					|	Subject <br>
				input(type="text" name="subject")#subject
				#subject-error.alert
			.input-div
				label(for="body")
					|	Body <br>
				textarea(name="body")#body
				#body-error.alert
			.captcha-div
				- var siteKey = '';
				if codebase === 'production'
					- siteKey = '6LePwiYUAAAAAIFnYGTZXsg__BWFtVALnl4n6PIv'
				else if codebase === 'development'
					- siteKey = '6LeRwiYUAAAAAIN_xsoLElwY_iKfkLQNr8w001jh'
				div.g-recaptcha(data-sitekey=siteKey)
			#contact-submit
				input(type="button" value="Send that beautiful e-mail!")#submit-button

block append javascripts
	script(src="/javascripts/contact-page-checks.js")

