extends layout

block home-masthead
	#home-header-image
	#home-masthead-text
		|	You're looking for a web developer, right?<br>Welcome.

block content
	#home-content-wrapper
		if error
			.welcome-statement.alert-text
				| #{error}
		else if user && user.type === 'admin'
			.welcome-statement
				| Hello, #{user.name}
		#profile-area
			h1#profile-name Kellan Martin
			#profile-social-media
				include mixins/utils
				+social-media-wrap
			img(src="/images/profile_pic.jpg")
			p.additionalinfo Thank you very much for checking out my website! I can't tell you how much I appreciate it!
			p.additionalinfo I am a self-taught web developer currently based in Kalamazoo, MI with a penchant for improving myself! I constantly strive to increase my knowledge of best-practices and programming methods to work well with others, and to be the best choice for the project at hand.

		#quality-cont
			u
				h1 Expertise:
			#qualwrapper
				each key in Object.keys(model)
					- array = model[key]
					h3.qualheader #{key}
					ul
						each string in array
							li.qualitem #{string}

block append javascripts
	script(src="/javascripts/scripts.min.js")
