extends layout

block home-masthead
	#home-header-image
	#home-masthead-text
		|	You're looking for a web developer, right?<br>Welcome.

block content
	#home-content-wrapper
		if error
			.welcome-statement.alert-text
				| #{error}
		else if user && user.type === 'admin'
			.welcome-statement
				| Hello, #{user.name}
		#profile-area
			h1#profile-name Kellan Martin
			#profile-social-media
				include mixins/utils
				+social-media-wrap
			img(src="/images/profile_pic.jpg")
			p#additionalinfo
				|	Thank you very much for checking out my website! I can't tell you how much I appreciate it. <br><br> I am a self-taught full stack engineer (currently freelance web developer) based in the Kalamazoo, MI area that is ready and willing to take on difficult projects to further my understanding of the web and the technologies that encompass it. Please feel free to look around and have fun!
		#quality-cont
			u
				h1 Expertise:
			#qualwrapper
				each key in Object.keys(model)
					- array = model[key]
					h3.qualheader #{key}
					ul
						each string in array
							li.qualitem #{string}

block append javascripts
	script(src="/javascripts/frontpage.js")
