doctype html
html
	include mixins/utils
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		if description
			meta(name="description" content=description)
		title= title
		link(rel='stylesheet', href='/src/stylesheets/style.css')
		link(href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="font stylesheet")
		if ( user )
			+froalaCSS
		block stylesheets
		block highlight
		block captcha
	body
	.container
		header(id="header-wrapper")
			if page === 'home'
				#masthead-wrapper.home
					block home-masthead
			else
				#masthead-wrapper
					block masthead
			+navBar(user, page)
		.body
			#content
				block content
		footer
			#footer-wrapper
				#footer-left
					#footer-nav
						.header Navigation
						.nav-item
							a(href="/") Home
						.nav-item
							a(href="/projects") Projects
						.nav-item
							a(href="/blog") Blog
						.nav-item
							a(href="/contact") Contact

				#footer-mid
					#footer-social-media
						+social-media-wrap
					#footer-post-wrapper
						#check-out
							| Check Out My Latest Blog Posts! <br> (Click on the title to be taken to it)
						+footerPost(footerPosts)
				#footer-right
					#contact-wrapper
						.email
						.phone
							img(src="/images/svgs/phone_icon.svg")
							| (906) 231 - 0761
					#copyright-wrapper
						| &copy; <span id="cr-year"></span> Kellan Martin
	block javascripts
		script(type="text/javascript" src="/jquery/jquery.js")
		script(type="text/javascript" src="/src/js/froalaEditorSitePackage.js")
		script(type="text/javascript" src="/javascripts/navmenu.min.js")
		script(type="text/javascript" src="/javascripts/footers.min.js")
		if ( user )
			+froalaJS
