doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="/stylesheets/dev-test-style.css")
	body
		header
			block header
		#main-content
			block content
		footer
			block footer
		include includes/modal.pug
		block javascripts