extends layout-dev_test

block content
	#main-wrapper
		//- Pictures from AJAX query will be loaded in `#picture-wrapper`
		#picture-wrapper

block footer
	div#back-to-home
		a(href="/")
			div.button
				|Click here to go back to kellanmartin.com


block append javascripts
	script(src="/javascripts/dev-test-main-functionality.js")