extends layout

block append stylesheets
	link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
	link(rel="stylesheet" type="text/css" href="/froala/css/froala_editor.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/froala_style.min.css")

block masthead
	| New Post

block content
	.form-wrapper
		form(action="/blog/newpost" method="post" enctype="multipart/form-data")#post-form
			.form-header
				#newpost-upload
					label(for="header-pic")
						|	Choose a post header picture <br>
					input(type="file" name="header-pic")#input-picture
					#picture-alert.alert
				#newpost-title
					label(for="title")
						|	Title<br>
					input(type="text" name="title").post-input#input-title
					#title-alert.alert
				#newpost-sub-title
					label(for="sub-title")
						|	Sub-Title<br>
					input(type="text" name="sub-title").post-input#input-sub-title
					.post-input#input-sub-title
					#sub-title-alert.alert
				#newpost-category
					label(for="category")
						|	category<br>
					input(type="text" name="category").post-input#input-category
					#category-alert.alert
				#newpost-tags
					label(for="tags")
						|	Tags<br>
					input(type="text" name="tags").post-input#input-tags
					#tag-alert.alert
			.form-body
				#newpost-body
					//textarea(autofocus="true" spellcheck="true" rows="20" cols="50" name="body")#input-body
					textarea#input-body
					#body-alert.alert
			.form-submit
				#newpost-submit
					input(type="button" value="Post Blog Entry")#ajaxSubmit

block append javascripts
	//- Froala & Plugins
	script(type="text/javascript" src="/froala/js/froala_editor.min.js")
	script(type="text/javascript" src="/froala/js/plugins/char_counter.min.js")
	script(type="text/javascript" src="/froala/js/plugins/emoticons.min.js")
	script(type="text/javascript" src="/froala/js/plugins/font_family.min.js")
	script(type="text/javascript" src="/froala/js/plugins/font_size.min.js")
	script(type="text/javascript" src="/froala/js/plugins/.min.js")

	script(type="text/javascript" src="/javascripts/newpostErrorCheck.min.js")
	script(type="text/javascript" src="/src/js/tinymce_init.js")
