extends layout
block masthead
	#basic-header-img.projects
	#basic-masthead-text 
		span(class="text") Projects
block content
	.project-wrapper
		include mixins/utils
		each p in projects
			+project-temp(p)
