extends layout

block masthead
	#masthead-text
		|#{project.title}
	- pic = project.pics.split(',')[0]
	img(src=`./uploads/projects/${pic}`)


block content
	- id = project.ID
	#single-project-wrapper
		include mixins/utils
		+single-project-temp(project)
		//- Only show edit button on user
		if user
			#project-edit-button
				button(value="start-edit" id="start-edit-button")
					|	Edit Post
			#project-edit-confirm-button
				button(value="confirm-edit" id="confirm-edit-button")
					|	Confirm Edit
		#single-back-button
			a(href="/projects") << Back		


block append javascripts
	script(src="/javascripts/singleprojecthelper.js")
	script(src="/javascripts/editProject.js")
