extends layout

block masthead 
	| /thank-you
block content
	p(style="text-align: center")#thank-you-message
		|	Thank you very much for sending that e-mail. I will get
		|	right back to you as soon as I can.