/* -----INDEX-----
	* SASS VARIABLES
	*
	* HEADER CSS - Line 141
	*
	* FOOTER CSS - Line 317
	*
	* `HOME` Page CSS - Line 507
	*
	* FORM (Contact, Login, Newpost, NewProject) CSS - Line 647
	*
	* BLOG CSS - Line 714
	*	NEW POST CSS - Line 814
	*	SINGLE POST CSS - Line 840
	*	COMMENTS CSS - Line 910
	*
	* PROJECTS PAGE CSS - Line 999
	*	NEW PROJECT PAGE CSS - Line 1100
	*	SINGLE PROJECT PAGE CSS - Line 1165
	*
	*
	*/
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

hr {
  width: 40%;
  border: none;
  height: 5px;
  background: black;
  margin-top: 0;
  margin-bottom: 0; }

body {
  font: 14px "Lucinda Grande", Helvetica, Arial, sans-serif;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAYUlEQVQoU2P8+/XZfwY0wMwtxQgSAsmB2CAaLAADME0wSWQarhBZN0gjsiIQH8UKdOtgTgArhJkEU4TuXhgfq9XIJsHcjeE7dEVwXyN7ApsimJMwPIPsIeRgQ/EMNkUwMQDKAHrstpbrFgAAAABJRU5ErkJggg==); }

pre {
  white-space: pre-wrap; }

.body {
  padding-bottom: 300px;
  color: #363636; }
  @media screen and (max-width: 768px) {
    .body {
      padding-bottom: 375px; } }
  @media screen and (max-width: 480px) {
    .body {
      padding-bottom: 400px; } }

a {
  color: #00B7FF; }

.alert-text {
  font-size: 40px;
  color: red;
  font-family: arial; }

.alert {
  color: red; }

.container {
  min-height: 100%;
  position: relative; }

#header-wrapper {
  width: 100%;
  margin-bottom: 5em; }
  #header-wrapper #masthead-wrapper {
    font-family: "Permanent Marker", courier;
    background: #C9CBCF;
    width: 100%;
    font-size: 5em;
    text-align: center; }
    #header-wrapper #masthead-wrapper p:first-child {
      margin-top: 0; }
    #header-wrapper #masthead-wrapper:not(.home) {
      min-height: 250px; }
    #header-wrapper #masthead-wrapper.home {
      min-height: 835px; }
      #header-wrapper #masthead-wrapper.home #masthead-text {
        position: absolute;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 30%;
        z-index: 4; }
      #header-wrapper #masthead-wrapper.home #masthead-carousel .carousel-main .carousel-image-wrapper .masthead-pic {
        display: none; }
        #header-wrapper #masthead-wrapper.home #masthead-carousel .carousel-main .carousel-image-wrapper .masthead-pic.current, #header-wrapper #masthead-wrapper.home #masthead-carousel .carousel-main .carousel-image-wrapper .masthead-pic.trans {
          display: block; }
        #header-wrapper #masthead-wrapper.home #masthead-carousel .carousel-main .carousel-image-wrapper .masthead-pic.current {
          z-index: 3;
          position: absolute; }
        #header-wrapper #masthead-wrapper.home #masthead-carousel .carousel-main .carousel-image-wrapper .masthead-pic.trans {
          position: absolute;
          z-index: 2; }
  #header-wrapper #main-nav #mobile-nav-wrapper {
    display: none; }
  #header-wrapper #main-nav #nav-wrapper {
    display: inline; }
    #header-wrapper #main-nav #nav-wrapper #nav-list {
      padding: 0;
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    #header-wrapper #main-nav #nav-wrapper .nav-item {
      z-index: 0;
      list-style-type: none;
      display: inline;
      font-family: "Permanent Marker", courier;
      font-size: 2em;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 2px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      opacity: 0.5;
      transition: opacity 1.0s ease-out; }
      #header-wrapper #main-nav #nav-wrapper .nav-item a {
        opacity: 0.7;
        transition: opacity 0.2s ease-out; }
        #header-wrapper #main-nav #nav-wrapper .nav-item a.current {
          opacity: 1.0; }
      #header-wrapper #main-nav #nav-wrapper .nav-item + .nav-item {
        margin-left: 0.5%; }
      #header-wrapper #main-nav #nav-wrapper .nav-item.current {
        opacity: 1.0;
        background: #C9CBCF;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAaUlEQVQoU2P8+/XZfwY0cObaS7CIiZY4A4gNohlPnj4PVwgSAAGYJDINV4isG10xiA9WCFOEbh3MCWCFIDciuwndvTA+VquRTYK5G8VqZCdg+BpmNS5FMA0YnkE2CeY+cDgiewabIpgYAJTdbRIwVt8BAAAAAElFTkSuQmCC); }
        #header-wrapper #main-nav #nav-wrapper .nav-item.current a {
          opacity: 1.0; }
    #header-wrapper #main-nav #nav-wrapper #nav-list a {
      text-decoration: none;
      color: black; }
  @media screen and (max-width: 768px) {
    #header-wrapper #main-nav #mobile-nav-wrapper {
      display: inline; }
      #header-wrapper #main-nav #mobile-nav-wrapper #nav-button-mobile {
        position: absolute;
        z-index: 1;
        display: relative;
        margin-top: 7px;
        right: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 50px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid grey;
        background: white; }
        #header-wrapper #main-nav #mobile-nav-wrapper #nav-button-mobile .krabby-patty {
          width: 80%;
          height: 7%;
          border-radius: 10%;
          margin: 0 auto;
          background: grey; }
          #header-wrapper #main-nav #mobile-nav-wrapper #nav-button-mobile .krabby-patty + .krabby-patty {
            margin-top: 20%; }
    #header-wrapper #main-nav #nav-wrapper {
      display: none; }
      #header-wrapper #main-nav #nav-wrapper.open {
        display: inline; }
      #header-wrapper #main-nav #nav-wrapper #nav-list {
        width: 100%; }
        #header-wrapper #main-nav #nav-wrapper #nav-list .nav-item {
          width: 100%;
          border-radius: 0;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
          #header-wrapper #main-nav #nav-wrapper #nav-list .nav-item a {
            opacity: 1.0; }
          #header-wrapper #main-nav #nav-wrapper #nav-list .nav-item:first-child {
            border-top: 5px solid black; }
          #header-wrapper #main-nav #nav-wrapper #nav-list .nav-item:last-child {
            border-bottom: 5px solid black; } }

footer {
  background: #C9CBCF;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAYElEQVQoU22QQQ4AIQgD9UkezP7/uNmDT3JTkzEV4YJAC631/cYsIZ7eqlqa6a28GgQkhp430NkiOkj1cSKeQ8ICsglQ1EudnvZN6L7cRdB27SYyEJIuM27Iv+0wk4Ho/boid7mJS9cXAAAAAElFTkSuQmCC);
  position: absolute;
  height: 300px;
  bottom: 0;
  width: 100%; }
  @media screen and (max-width: 768px) {
    footer {
      height: 375px; } }
  @media screen and (max-width: 480px) {
    footer {
      height: 400px; } }
  footer #footer-wrapper {
    color: #363636;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px; }
    footer #footer-wrapper #footer-left {
      display: inline-block;
      width: 25%;
      text-align: left;
      vertical-align: top; }
      footer #footer-wrapper #footer-left #footer-nav {
        font-family: "Permanent Marker", courier; }
        footer #footer-wrapper #footer-left #footer-nav .header {
          margin-bottom: 5px; }
          @media screen and (max-width: 480px) {
            footer #footer-wrapper #footer-left #footer-nav .header {
              display: none; } }
        footer #footer-wrapper #footer-left #footer-nav .nav-item {
          padding-left: 5px; }
          footer #footer-wrapper #footer-left #footer-nav .nav-item a {
            text-decoration: none;
            color: #A3A0AE; }
            footer #footer-wrapper #footer-left #footer-nav .nav-item a:hover {
              color: black;
              text-decoration: underline; }
          footer #footer-wrapper #footer-left #footer-nav .nav-item + .nav-item {
            margin-top: 7px; }
    footer #footer-wrapper #footer-mid {
      position: relative;
      display: inline-block;
      width: 50%;
      vertical-align: bottom; }
      footer #footer-wrapper #footer-mid #footer-social-media {
        border-radius: 10px;
        width: 200px;
        margin: 0 auto 10px auto; }
        footer #footer-wrapper #footer-mid #footer-social-media .soc-media-wrapper {
          padding-left: 20px;
          padding-right: 20px;
          height: 40px;
          text-align: center;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAaUlEQVQoU2P8+/XZfwY0cObaS7CIiZY4A4gNohlPnj4PVwgSAAGYJDINV4isG10xiA9WCFOEbh3MCWCFIDciuwndvTA+VquRTYK5G8VqZCdg+BpmNS5FMA0YnkE2CeY+cDgiewabIpgYAJTdbRIwVt8BAAAAAElFTkSuQmCC);
          border-radius: 10px;
          border: 1px solid #A3A0AE; }
          footer #footer-wrapper #footer-mid #footer-social-media .soc-media-wrapper .soc-icon {
            display: inline-block;
            padding-top: 7.5px; }
            footer #footer-wrapper #footer-mid #footer-social-media .soc-media-wrapper .soc-icon + .soc-icon {
              margin-left: 10px; }
            footer #footer-wrapper #footer-mid #footer-social-media .soc-media-wrapper .soc-icon img {
              width: 25px;
              height: 25px; }
            footer #footer-wrapper #footer-mid #footer-social-media .soc-media-wrapper .soc-icon:last-child img {
              width: 30px; }
      footer #footer-wrapper #footer-mid #footer-post-wrapper {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAaUlEQVQoU2P8+/XZfwY0cObaS7CIiZY4A4gNohlPnj4PVwgSAAGYJDINV4isG10xiA9WCFOEbh3MCWCFIDciuwndvTA+VquRTYK5G8VqZCdg+BpmNS5FMA0YnkE2CeY+cDgiewabIpgYAJTdbRIwVt8BAAAAAElFTkSuQmCC);
        border: 5px solid #A3A0AE;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        width: 400;
        margin: 0 auto; }
        footer #footer-wrapper #footer-mid #footer-post-wrapper #check-out {
          text-align: center;
          font-family: "Permanent Marker", courier;
          margin-bottom: 10px; }
        footer #footer-wrapper #footer-mid #footer-post-wrapper .fpwrap {
          padding: 5px;
          background: #9B9FA9;
          overflow-wrap: break-word; }
          footer #footer-wrapper #footer-mid #footer-post-wrapper .fpwrap a {
            color: #FDF0E6;
            letter-spacing: 3px;
            font-family: "Permanent Marker", courier; }
            footer #footer-wrapper #footer-mid #footer-post-wrapper .fpwrap a:visited {
              color: #FDF0E6; }
            footer #footer-wrapper #footer-mid #footer-post-wrapper .fpwrap a .footer-post-title {
              margin-bottom: 5px; }
          footer #footer-wrapper #footer-mid #footer-post-wrapper .fpwrap + .fpwrap {
            margin-top: 10px; }
          footer #footer-wrapper #footer-mid #footer-post-wrapper .fpwrap:last-child {
            margin-bottom: 5px; }
    footer #footer-wrapper #footer-right {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      text-align: right; }
      footer #footer-wrapper #footer-right #contact-wrapper .phone {
        font-size: 10px; }
        footer #footer-wrapper #footer-right #contact-wrapper .phone img {
          height: 15px; }
    @media screen and (max-width: 480px) {
      footer #footer-wrapper #footer-left {
        width: 100%;
        margin-bottom: 20px;
        text-align: center; }
        footer #footer-wrapper #footer-left #footer-nav .nav-item {
          display: inline-block; }
          footer #footer-wrapper #footer-left #footer-nav .nav-item + .nav-item {
            margin-left: 10px; }
      footer #footer-wrapper #footer-mid {
        width: 100%; }
        footer #footer-wrapper #footer-mid #footer-social-media {
          width: 250px; }
          footer #footer-wrapper #footer-mid #footer-social-media .soc-media-wrapper {
            text-align: center; }
            footer #footer-wrapper #footer-mid #footer-social-media .soc-media-wrapper .soc-icon + .soc-icon {
              margin-left: 30px; }
      footer #footer-wrapper #footer-right {
        width: 100%;
        margin-top: 2px;
        text-align: center; }
        footer #footer-wrapper #footer-right #contact-wrapper .phone {
          margin-top: 10px;
          margin-bottom: 10px; } }

#content {
  margin-bottom: 50px;
  overflow-y: hidden; }

#home-content-wrapper {
  margin-left: 20%;
  margin-right: 20%; }
  #home-content-wrapper #profile-area {
    display: inline-block;
    vertical-align: top;
    min-width: 39%;
    max-width: 40%; }
    #home-content-wrapper #profile-area img {
      width: 100%; }
    #home-content-wrapper #profile-area #profile-name {
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: "Permanent Marker", courier; }
    #home-content-wrapper #profile-area #profile-social-media {
      border-radius: 10px;
      width: 200px;
      margin-bottom: 10px; }
      #home-content-wrapper #profile-area #profile-social-media .soc-media-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        text-align: center;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAYElEQVQoU22QQQ4AIQgD9UkezP7/uNmDT3JTkzEV4YJAC631/cYsIZ7eqlqa6a28GgQkhp430NkiOkj1cSKeQ8ICsglQ1EudnvZN6L7cRdB27SYyEJIuM27Iv+0wk4Ho/boid7mJS9cXAAAAAElFTkSuQmCC);
        border-radius: 10px;
        border: 1px solid #A3A0AE; }
        #home-content-wrapper #profile-area #profile-social-media .soc-media-wrapper .soc-icon {
          display: inline-block;
          padding-top: 7.5px; }
          #home-content-wrapper #profile-area #profile-social-media .soc-media-wrapper .soc-icon + .soc-icon {
            margin-left: 10px; }
          #home-content-wrapper #profile-area #profile-social-media .soc-media-wrapper .soc-icon img {
            width: 25px;
            height: 25px; }
            #home-content-wrapper #profile-area #profile-social-media .soc-media-wrapper .soc-icon img.resize {
              width: 30px; }
    #home-content-wrapper #profile-area #additionalinfo {
      text-align: left;
      padding-top: 10px;
      line-height: 2; }
  #home-content-wrapper #quality-cont {
    display: inline-block;
    width: 60%; }
    #home-content-wrapper #quality-cont h1 {
      margin-top: 0;
      text-align: center;
      font-family: "Permanent Marker", courier; }
    #home-content-wrapper #quality-cont #qualwrapper {
      padding: 10px;
      padding-left: 5em;
      padding-top: 0; }
      #home-content-wrapper #quality-cont #qualwrapper h3:first-child {
        margin-top: 0; }
      #home-content-wrapper #quality-cont #qualwrapper h3 {
        font-family: "Permanent Marker", courier; }
      #home-content-wrapper #quality-cont #qualwrapper ul {
        display: flex;
        flex-wrap: wrap; }
        #home-content-wrapper #quality-cont #qualwrapper ul .qualitem {
          display: inline;
          margin: 5px;
          padding: 5px;
          font-family: "Lucinda Grande", Helvetica, Arial, sans-serif;
          border: 1px solid #363636;
          border-bottom: 6px solid #363636;
          border-left: 4px solid #363636;
          border-right: 4px solid #363636;
          border-radius: 5px;
          color: black;
          background: #FFB600;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          animation-name: tilts;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear; }

@keyframes tilts {
  0% {
    transform: rotateZ(0); }
  25% {
    transform: rotateZ(10deg); }
  50% {
    transform: rotateZ(0); }
  75% {
    transform: rotateZ(-10deg); }
  100% {
    transform: rotateZ(0); } }
  @media screen and (max-width: 768px) {
    #home-content-wrapper {
      margin-left: 5%;
      margin-right: 5%; }
      #home-content-wrapper #profile-area, #home-content-wrapper #quality-cont {
        width: 100%;
        text-align: center; }
      #home-content-wrapper #profile-area {
        max-width: 100%; }
        #home-content-wrapper #profile-area #additionalinfo {
          margin-left: 30px; }
        #home-content-wrapper #profile-area img {
          width: 60%; }
        #home-content-wrapper #profile-area #profile-social-media {
          margin: 0 auto;
          margin-bottom: 10px; }
        #home-content-wrapper #profile-area #additionalinfo {
          margin-left: 30px; }
      #home-content-wrapper #quality-cont {
        padding-top: 1em; }
        #home-content-wrapper #quality-cont #qualwrapper {
          padding-left: 0;
          padding-right: 0; }
          #home-content-wrapper #quality-cont #qualwrapper .qualheader {
            font-size: 20px; }
          #home-content-wrapper #quality-cont #qualwrapper ul {
            justify-content: center;
            padding: 0; } }

.form-wrapper {
  position: relative;
  font-family: "Permanent Marker", courier;
  padding-left: 20%;
  padding-right: 20%; }
  @media screen and (max-width: 768px) {
    .form-wrapper {
      padding-left: 5%;
      padding-right: 5%; } }
  .form-wrapper #contact-form {
    width: 90%;
    margin: 0 auto; }
    .form-wrapper #contact-form #first-name, .form-wrapper #contact-form #last-name {
      display: inline-block;
      width: 50%; }
      .form-wrapper #contact-form #first-name .name-input, .form-wrapper #contact-form #last-name .name-input {
        width: 50%; }
    .form-wrapper #contact-form #subject {
      margin-top: .5em; }
    .form-wrapper #contact-form #subject input {
      width: 100%; }
    .form-wrapper #contact-form #body textarea {
      width: 100%;
      height: 300px; }
    .form-wrapper #contact-form #contact-submit input {
      float: right; }
    @media screen and (max-width: 768px) {
      .form-wrapper #contact-form #first-name, .form-wrapper #contact-form #last-name {
        width: 100%; }
        .form-wrapper #contact-form #first-name .name-input, .form-wrapper #contact-form #last-name .name-input {
          width: 100%; } }

.username, .password {
  width: 100%; }

.username label, .password label {
  display: inline-block;
  text-align: right;
  width: auto; }

label > .text {
  padding-right: 5%; }

.username input, .password input {
  width: auto;
  margin-left: 10%; }

#blog-content-wrapper {
  margin-left: 10%;
  margin-right: 10%; }
  #blog-content-wrapper .blog-post {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    box-shadow: 5px 5px 2px black; }
    #blog-content-wrapper .blog-post:first-child {
      margin-bottom: 2em; }
    #blog-content-wrapper .blog-post + .blog-post {
      margin-bottom: 2em; }
    #blog-content-wrapper .blog-post::after {
      content: " ";
      display: block;
      height: 0;
      clear: both; }
    #blog-content-wrapper .blog-post .post-image-wrapper {
      width: 20%;
      min-width: 200px;
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; }
      #blog-content-wrapper .blog-post .post-image-wrapper .post-header-pic {
        width: 100%;
        height: 100%; }
    #blog-content-wrapper .blog-post .post-display {
      overflow-wrap: break-word; }
      #blog-content-wrapper .blog-post .post-display a .post-header {
        margin-top: 0;
        font-family: "Permanent Marker", courier; }
    #blog-content-wrapper .blog-post .post-meta {
      margin-top: 20px;
      clear: both; }
      #blog-content-wrapper .blog-post .post-meta .post-tags, #blog-content-wrapper .blog-post .post-meta .post-date {
        display: inline-block;
        width: 50%; }
      #blog-content-wrapper .blog-post .post-meta .post-date {
        display: inline-block;
        text-align: right;
        font-size: 0.7em; }
  @media screen and (max-width: 768px) {
    #blog-content-wrapper {
      margin-left: 5%;
      margin-right: 5%; }
      #blog-content-wrapper .blog-post .post-image-wrapper {
        float: none;
        margin: 10px auto 0 auto;
        width: 80%;
        height: auto; }
      #blog-content-wrapper .blog-post .post-display a .post-header {
        display: block;
        text-align: center; } }
  @media screen and (max-width: 480px) {
    #blog-content-wrapper {
      margin-left: 5%;
      margin-right: 5%; }
      #blog-content-wrapper .blog-post {
        padding-left: 1em;
        padding-right: 1em; } }

#newpost-upload {
  width: 80%;
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }

.post-input {
  width: 100%; }

#input-category {
  width: 50%; }

#input-tags {
  width: 50%; }

#newpost-body textarea {
  width: 100%; }

#newpost-tags {
  margin-bottom: 10px; }

#single-post-wrapper {
  padding-left: 20%;
  padding-right: 20%;
  overflow-wrap: break-word;
  margin-bottom: 20px; }
  #single-post-wrapper #post-edit-button, #single-post-wrapper #post-edit-confirm-button {
    display: inline-block;
    width: 50%; }
  #single-post-wrapper .single-back-button {
    margin-top: 20px; }
  #single-post-wrapper .blog-post .edit {
    display: none; }
    #single-post-wrapper .blog-post .edit.show {
      display: block; }
  #single-post-wrapper .blog-post #single-post-header {
    font-family: "Permanent Marker", courier;
    margin-left: 2em; }
  #single-post-wrapper .blog-post #single-post-header-edit {
    margin-bottom: 10px;
    width: 100%; }
  #single-post-wrapper .blog-post #single-post-body-wrap, #single-post-wrapper .blog-post #single-post-body-edit {
    margin-bottom: 20px; }
  #single-post-wrapper .blog-post #single-post-body-edit {
    width: 100%;
    height: 300px; }
  #single-post-wrapper .blog-post #post-tags, #single-post-wrapper .blog-post #single-post-date, #single-post-wrapper .blog-post #tags {
    display: inline-block;
    width: 50%; }
  #single-post-wrapper .blog-post #single-post-date {
    text-align: right; }
  #single-post-wrapper .blog-post #single-post-pic-wrapper {
    text-align: center; }
    #single-post-wrapper .blog-post #single-post-pic-wrapper img {
      width: 100%;
      max-width: 375px;
      margin: 0 auto; }
  #single-post-wrapper #confirm-edit-button {
    display: none; }
  @media screen and (max-width: 768px) {
    #single-post-wrapper {
      padding-left: 5%;
      padding-right: 5%; } }
  @media screen and (max-width: 480px) {
    #single-post-wrapper .blog-post #single-post-header {
      margin-left: 0em;
      text-align: center; } }

#comments-wrapper {
  padding-left: 20%;
  padding-right: 20%; }
  #comments-wrapper .hidden {
    display: none; }
  #comments-wrapper h3 {
    font-family: "Permanent Marker", courier;
    text-align: center; }
  #comments-wrapper #comment-toggle-wrap {
    text-align: center; }
    #comments-wrapper #comment-toggle-wrap #comment-toggle {
      margin-bottom: 20px; }
  #comments-wrapper #comment-entry-wrapper {
    display: none; }
    #comments-wrapper #comment-entry-wrapper #save-button-wrapper {
      text-align: right; }
    #comments-wrapper #comment-entry-wrapper #name-wrapper {
      margin-bottom: 10px; }
    #comments-wrapper #comment-entry-wrapper #body-wrapper {
      margin-bottom: 10px; }
    #comments-wrapper #comment-entry-wrapper #name-wrapper, #comments-wrapper #comment-entry-wrapper #body-wrapper, #comments-wrapper #comment-entry-wrapper #save-button-wrapper {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      #comments-wrapper #comment-entry-wrapper #name-wrapper #comment-input-name, #comments-wrapper #comment-entry-wrapper #name-wrapper #comment-input-body, #comments-wrapper #comment-entry-wrapper #body-wrapper #comment-input-name, #comments-wrapper #comment-entry-wrapper #body-wrapper #comment-input-body, #comments-wrapper #comment-entry-wrapper #save-button-wrapper #comment-input-name, #comments-wrapper #comment-entry-wrapper #save-button-wrapper #comment-input-body {
        width: 100%; }
      #comments-wrapper #comment-entry-wrapper #name-wrapper #comment-input-body, #comments-wrapper #comment-entry-wrapper #body-wrapper #comment-input-body, #comments-wrapper #comment-entry-wrapper #save-button-wrapper #comment-input-body {
        height: 200px; }
  #comments-wrapper #comment-entries-wrapper {
    background: #FDF5E6;
    border: 2px solid #A3A0AE;
    border-radius: 10px; }
    #comments-wrapper #comment-entries-wrapper hr {
      background: #C9B793;
      height: 1px;
      width: 90%;
      margin: 0 auto; }
    #comments-wrapper #comment-entries-wrapper .background-wrapper {
      padding-top: 10px;
      padding-bottom: 10px; }
      #comments-wrapper #comment-entries-wrapper .background-wrapper .comment-entry {
        width: 90%;
        margin: 0 auto; }
        #comments-wrapper #comment-entries-wrapper .background-wrapper .comment-entry .comment-author {
          font-family: "Permanent Marker", courier;
          display: inline-block; }
        #comments-wrapper #comment-entries-wrapper .background-wrapper .comment-entry .comment-date::before {
          content: '-';
          font-size: 16px;
          padding-left: 5px;
          padding-right: 5px; }
        #comments-wrapper #comment-entries-wrapper .background-wrapper .comment-entry .comment-date {
          font-size: 10px;
          display: inline-block; }
        #comments-wrapper #comment-entries-wrapper .background-wrapper .comment-entry .comment-body {
          padding-left: 20px; }
  @media screen and (max-width: 768px) {
    #comments-wrapper {
      padding-left: 5%;
      padding-right: 5%; } }

.project-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .project-wrapper .project {
    display: inline-block;
    position: relative;
    background: white;
    vertical-align: top;
    z-index: 0;
    border-radius: 10px;
    margin: 20px;
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out; }
    .project-wrapper .project .project-img-wrap {
      width: 180px;
      height: 180px;
      margin: 0 auto; }
      .project-wrapper .project .project-img-wrap .project-pic {
        width: 100%;
        height: 100%;
        border-radius: 10px; }
    .project-wrapper .project .project-anim-wrap {
      position: absolute;
      width: 180px;
      height: 60px;
      bottom: 0;
      z-index: 1;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; }
    .project-wrapper .project .project-title-wrap {
      position: absolute;
      width: 180px;
      height: 60px;
      bottom: 0;
      z-index: 2;
      display: none;
      text-align: center;
      color: white; }
    @media screen and (min-width: 480px) {
      .project-wrapper .project:hover {
        transform: scale(1.2); }
        .project-wrapper .project:hover .project-title-wrap {
          display: inline;
          animation-name: textinsert;
          animation-duration: 1.0s;
          animation-timing-function: ease-out; }
      @keyframes textinsert {
        0% {
          opacity: 0; }
        25% {
          opacity: 0.25; }
        50% {
          opacity: 0.5; }
        75% {
          opacity: 0.75; }
        100% {
          opacity: 1.0; } }
        .project-wrapper .project:hover .project-anim-wrap {
          background-color: #A3A0AE;
          animation-name: wide;
          animation-duration: 0.5s;
          animation-timing-function: ease-out;
          opacity: 0.7;
          animation-delay: 0; }
      @keyframes wide {
        0% {
          transform: scaleX(0); }
        50% {
          border-radius: 10%; }
        100% {
          transform: scaleX(1); } } }
  @media screen and (max-width: 480px) {
    .project-wrapper .project .project-title-wrap {
      display: inline; }
    .project-wrapper .project .project-anim-wrap {
      background-color: #A3A0AE;
      opacity: 0.7; } }

.form-wrapper .form-header #new-project-title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .form-wrapper .form-header #new-project-title #project-input-title {
    width: 100%; }

.form-wrapper .form-header #new-project-upload {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px; }

.form-wrapper .form-header #new-project-technologies {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .form-wrapper .form-header #new-project-technologies #project-input-technologies {
    width: 100%; }

.form-wrapper .date-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .form-wrapper .date-wrapper .alert {
    text-align: left; }
  .form-wrapper .date-wrapper .single-date-wrapper {
    display: inline-block;
    width: 25%; }
  @media screen and (max-width: 768px) {
    .form-wrapper .date-wrapper {
      width: 100%; } }

.form-wrapper #project-form .form-body {
  width: 100%;
  height: 100%; }
  .form-wrapper #project-form .form-body #new-project-body {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px; }
    .form-wrapper #project-form .form-body #new-project-body textarea {
      width: 100%; }

.form-wrapper #project-form #new-project-submit {
  float: right;
  margin-right: 5em; }
  @media screen and (max-width: 768px) {
    .form-wrapper #project-form #new-project-submit {
      margin-right: 2em; } }

#single-project-wrapper {
  padding-left: 20%;
  padding-right: 20%; }
  #single-project-wrapper #project-edit-button, #single-project-wrapper #project-edit-confirm-button {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px; }
    #single-project-wrapper #project-edit-button #confirm-edit-button, #single-project-wrapper #project-edit-confirm-button #confirm-edit-button {
      display: none; }
  #single-project-wrapper .edit {
    display: none; }
  #single-project-wrapper .single-project #project-data h1, #single-project-wrapper .single-project #project-data #header-edit {
    margin-bottom: 10px; }
  #single-project-wrapper .single-project #project-data #header-edit {
    width: 100%; }
  #single-project-wrapper .single-project #project-data #techwrapper {
    margin-bottom: 15px; }
    #single-project-wrapper .single-project #project-data #techwrapper #techheader {
      font-family: "Permanent Marker", courier;
      font-size: 20px; }
    #single-project-wrapper .single-project #project-data #techwrapper #qualwrapper {
      display: flex;
      flex-wrap: wrap;
      position: relative; }
      #single-project-wrapper .single-project #project-data #techwrapper #qualwrapper .qualitem {
        display: border-box;
        display: inline;
        margin: 5px;
        padding: 5px;
        font-family: "Lucinda Grande", Helvetica, Arial, sans-serif;
        border: 1px solid #363636;
        border-bottom: 6px solid #363636;
        border-left: 4px solid #363636;
        border-right: 4px solid #363636;
        border-radius: 5px;
        color: black;
        background: #FFB600;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
  #single-project-wrapper .single-project #project-data #project-date-wrapper {
    margin-bottom: 5px; }
    #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date + .project-date {
      margin-left: 10px; }
    #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date {
      border: 2px solid black;
      border-radius: 5px;
      display: inline-block; }
      #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date .embellished {
        font-family: "Permanent Marker", courier;
        background: #C9CBCF;
        border-right: 1px solid black;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 5px;
        padding-right: 5px; }
      #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date .data {
        padding-right: 5px;
        padding-left: 5px; }
  #single-project-wrapper .single-project #project-data #project-header {
    font-family: "Permanent Marker", courier; }
  #single-project-wrapper .single-project #project-data #project-body-wrapper, #single-project-wrapper .single-project #project-data #body-edit {
    margin-bottom: 20px; }
  #single-project-wrapper .single-project #project-data #body-edit #project-body-edit {
    width: 100%;
    height: 300px; }
  #single-project-wrapper .single-project #single-pic-wrapper {
    width: 450px;
    margin: 0 auto; }
    #single-project-wrapper .single-project #single-pic-wrapper img {
      width: 450px;
      height: 350px; }
  #single-project-wrapper .single-project #project-carousel .chevron-select {
    height: 35px;
    width: 35px;
    top: 157.5px;
    position: absolute; }
  #single-project-wrapper .single-project #project-carousel .select-left {
    left: 5px;
    opacity: 0;
    transition: opacity 0.4s ease-out; }
  #single-project-wrapper .single-project #project-carousel .select-right {
    right: 5px;
    opacity: 0;
    transition: opacity 0.4s ease-out; }
  #single-project-wrapper .single-project #project-carousel .carousel-main {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #A3A0AE; }
    #single-project-wrapper .single-project #project-carousel .carousel-main:hover .select-left {
      display: block;
      opacity: 1.0; }
    #single-project-wrapper .single-project #project-carousel .carousel-main:hover .select-right {
      display: block;
      opacity: 1.0; }

@keyframes sel-display {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }
  #single-project-wrapper .single-project #project-carousel .carousel-left {
    position: absolute;
    height: 350px;
    width: 50px;
    background: transparent;
    left: 0;
    bottom: 0; }
  #single-project-wrapper .single-project #project-carousel .carousel-image-wrapper .single-project-pic {
    width: 450px;
    height: 350px; }
  #single-project-wrapper .single-project #project-carousel .carousel-image-wrapper .single-project-pic:not(.current) {
    display: none; }
  #single-project-wrapper .single-project #project-carousel .carousel-right {
    position: absolute;
    height: 350px;
    width: 50px;
    right: 0;
    bottom: 0; }

@media screen and (max-width: 768px) {
  #single-project-wrapper {
    padding-left: 10%;
    padding-right: 10%; }
    #single-project-wrapper .single-project #single-pic-wrapper {
      width: 100%; }
      #single-project-wrapper .single-project #single-pic-wrapper img {
        width: 100%;
        height: auto; } }

@media screen and (max-width: 480px) {
  #single-project-wrapper {
    padding-left: 0;
    padding-right: 0; }
    #single-project-wrapper .single-project #project-carousel .carousel-main {
      width: 100%; }
      #single-project-wrapper .single-project #project-carousel .carousel-main .carousel-image-wrapper .single-project-pic {
        width: 100%;
        height: 350px; }
      #single-project-wrapper .single-project #project-carousel .carousel-main .select-left {
        opacity: 0.7;
        left: 5px; }
      #single-project-wrapper .single-project #project-carousel .carousel-main .select-right {
        opacity: 0.7;
        right: 5px; }
    #single-project-wrapper .single-project #project-carousel .chevron-select {
      top: 310px; }
    #single-project-wrapper .single-project #project-data {
      padding-left: 5%;
      padding-right: 5%; }
      #single-project-wrapper .single-project #project-data #project-header {
        text-align: center; }
      #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date {
        display: block;
        width: 40%;
        min-width: 220px; }
        #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date .embellished {
          display: inline-block;
          text-align: center;
          width: 25%; }
        #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date .data {
          margin-left: 5px; }
        #single-project-wrapper .single-project #project-data #project-date-wrapper .project-date + .project-date {
          margin-left: 0;
          margin-top: 10px; }
      #single-project-wrapper .single-project #project-data .techheader {
        text-align: center; }
      #single-project-wrapper .single-project #project-data .qualwrapper {
        justify-content: center; }
      #single-project-wrapper .single-project #project-data .project-body-wrapper {
        margin-left: 10%;
        margin-right: 10%; }
    #single-project-wrapper .single-back-button {
      margin-left: -5%; } }

#thank-you-message {
  font-family: "Permanent Marker", courier;
  font-size: 5em; }

/*# sourceMappingURL=style.css.map */